body {
    font-family: 'Poppins', sans-serif;
   /*  background: rgb(208,203,161);
    background: linear-gradient(90deg, rgba(208,203,161,1) 0%, rgba(208,203,161,0) 100%);  */
  }
 

.logo { 
    width: 21%; 
    padding: 1%; 
}
.left, .center, .right {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left, .right {
  width: 25%;
}
.center {
  width: 50%;
}

.inline-blockandlogo{ 
  display: flex;
  padding: 20px;
}

.leidy {
  border-radius: 45%; 
  padding: 30px; 
}
}
.heroImg {
  height: 400px; 
 
}

p{ 
  padding: 5 px; 
}
.contentLeidy { 
  width: 500px; 
  content: left;
  padding: 5 5 5 5; 
}
  /* Work Grid CSS */
  
  /* .subHeading {
    text-align: left; 
    border-bottom: 2px, solid black;
    width : 300px;
    margin : 50px auto;
  }*/
  
  #workGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "dcMetro doiRedesign"
    "travelApp projectFour";  
  }

  url:hover {
    opacity: 0.5;
  }
  
  #dcMetro {
    grid-area: dcMetro;
    background-image: url("../images/dcMetroPortfolio.png");   
  
  }
  #doiRedesign {
    grid-area: doiRedesign;
    background-image: url("../images/doiRedesignPortfolio.png");  
  }
  

  #travelApp {
    grid-area: travelApp;
    background-image: url("../images/AllInOneTravel.png"); 
  }
  
  #projectFour {
    grid-area: projectFour;
    background-image: url("../images/Project4.png");
  }
  
  .workGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }
  
  .heading {
    background-color: #D0CBA1; 
    padding: 2px;
    height: 25px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid  rgba(0,0,0,0.7);
  }
  
  #description{ 
    padding-left: 15px;
  }
/* Footer CSS */
footer { 
  background-color: #8c8c8de1; 
  padding: 20px; 

}
.footerUl{ 
  display:inline-block; 
  vertical-align: top; 
}

.inline-block{ 
  vertical-align: top;
  display: inline-block; 
}
li {
  padding: 15px; 
}


  /*
  .highlight {
    color: #FF6200;
    font-weight: 700; */
  }
  
  /* Typography CSS */

  h1{ 
      color: #240404;
      font-weight: 100;
      text-align: left; 
      border-bottom: 2px, solid black;
      width : 300px;
      margin : 50px auto;
  }
  
  h2 {
    font-size: 40px;
    margin: 0px 0px;
    color: #030303;
  }
  
  h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 0px 0px;
    color:  #D0CBA1; 
  }
  
  h4 {
    color: white;
    font-weight: 400;
    font-size: 22px;
  }
  
  
  #headline p {
    max-width: 350px;
    font-size: 16px;
    font-weight: 300;
    margin: 0px 0px;
    color: #636364;} 